language: node_js
node_js:
- '14.16.0'

install:
  - yarn install

before_script:
- npm install -g npm@'>=7'

stages:
 - test
 - name: deploy
 - ghpages
 
jobs:
 include:
   - stage: test
     script:
       - node --version
       - npm --version
       - echo "Testing Started ..."
       - npm run test
       - echo "Testing Finished."

   - stage: deploy
     script:
       - echo "NPM Deploying Started ..."
       - npm version
       - npm run build 
       - echo "NPM Building Finished."

     deploy:
       provider: npm
       email: $NPM_EMAIL_ADDRESS
       api_key: "$NPM_TOKEN"
       skip_cleanup: true
       on:
         branch: npm

   - stage: ghpages
     script:
       - echo "GH PAGES Deploying Started ..."
       - npm run build:react
       - echo "GH PAGES Building Finished."

     deploy:
      - provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        keep_history: true
        on:
          branch: npm